#sidebar {
  height: 100vh; /* Full height */
  width: 240px; /* Width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  transform: translateX(-250px);
  transition: transform 0.3s ease-in-out;
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 20px; /* Round only the top-right corner */
  border-bottom-right-radius: 20px; /* Round only the bottom-right corner */
}

/* Transforms for when sidebar is open */
#sidebar.sidebar-open {
  transform: translateX(0);
}

/* Sidebar links styles */
#sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Smooth transition for color and shadow */
}

#sidebar a:hover {
  color: rgb(246, 246, 165); /* Light purple color for text */
  text-shadow: 0 0 5px yellow,
    /* Light purple shadow with a small blur */ 0 0 1px #b55bff;
}

/* Menu icon styles */
#menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

#menu-icon div {
  height: 3px;
  background: #333;
  margin: 5px 0;
  transition: 0.3s;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Add border radius to the body when the sidebar is open */
body.pushed #main-content {
  margin-left: 240px;
  transition: margin-left 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: black;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
